/* viide elemendile st muudame kõiki selliseid elemente */
body {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 3em; /* vahe elementide vahel */
    align-items: center;
    background-image: url("https://rimibaltic-web-res.cloudinary.com/image/upload/c_fill,f_auto,h_483,q_auto,w_852/v1/web-cms/70a93fde277fa85ec1d8b156093cc813eca2f241.jpg");
    background-size: contain;
    font-family: "Josefin Sans";
}
/* #-ga viitame elemendile, millel on selline id */
#photo {
    max-width: 25em;
    max-height: 30em;
}

/* .-ga viitame elemenditele, millel on selline class */
.container {
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 3em;
    justify-content: center;
}

#textBox {
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.card {
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCB5B5;
    padding: 5em 1.5em 1.5em;
}
.icon {
    max-width: 10em;
}
iframe {
    width: 50em;
    height: 28em;
}
#hula{
    height: 200px;
    width: 250px;
}
button {
    width: 20em;
    border: none;
    background-color: #D9D9D9;
    padding: 2em;
}

button:hover {
    background-color: #C8C6C6;
    cursor: pointer;
}
h1 {
    color: #FCB5B5;
    text-align: center;
    background-color: green;
    letter-spacing: 7px;
    font-size: 64pt
;
}
p {
    color: red;
}
.blink{
     animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes example {
  from {transform: rotate(0deg);}
  to {transform: rotate(3600deg);}

}
.small-img{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
